# TDX
WEBSERVICES_KEY = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
BEID = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
BASE_URL = "https://yourdeployment.teamdynamix.com"
APP_ID = 9999

# DB
DB_HOST = ""
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = "TDX"

# Azure OpenAI
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_EMBED_ENDPOINT="https://yourresourcename.openai.azure.com/"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="text-embedding-3-large"
AZURE_OPENAI_API_VERSION="2024-02-01"
AZURE_EMBED_DIM = 3072
AZURE_MAX_TOKENS=8191
AZURE_OPENAI_CHAT_ENDPOINT="https://yourresourcename.openai.azure.com/"
AZURE_OPENAI_CHAT_API_KEY=""
AZURE_OPENAI_CHAT_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_CHAT_MAX_TOKENS=8191
AZURE_OPENAI_CHAT_TEMPERATURE=0.7
AZURE_OPENAI_CHAT_COMPLETION_TOKENS=500
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="gpt-5.2"